@import url('https://fonts.cdnfonts.com/css/youtube-sans');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    padding: 0;
    margin: 0;
    font-family: 'YouTube Sans', sans-serif;
    font-family: 'YouTube Sans Dark', sans-serif;
}

.nav_bar {
    display: flex;
    flex-direction: row;
    position: fixed;
    background-color: white;
    padding: 0 16px;
    width: 100%;
    height: 56px;
    align-items: center;
    justify-content: space-between;
}

/*.nav_bar section {
    display: flex;
}*/

.menu_burger {
    display: flex;
    flex-direction: row;
    height: 56px;
    align-items: center;
    gap: 20px;
}

.btn_burgerMenu {
    width: 44px;
    height: 44px;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    padding: 8px 12px; 
    position: relative;
    transition: background-color 0.5s ease;
}

.btn_burgerMenu:hover {
    background-color: #dbdbdb;
}

.btn_burgerMenu span {
    display: block;
    width: 20px;
    height: 1px;
    background-color: black;
    position: absolute;
    /*transition: all 0.3s ease;*/
}

.btn_burgerMenu span:nth-child(1) { top: 13px}
.btn_burgerMenu span:nth-child(2) { top: 20px}
.btn_burgerMenu span:nth-child(3) { top: 27px}

.menu_burger a {
    width: 8rem;
    height: 56px;
    display: inline-block;
    padding: 3px;
}

.menu_burger a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: 65%;
}

.area_pesquisar {
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    align-items: center;
    gap: 1rem;
    position: relative;
    flex: 1;
}

.area_pesquisar form {
    display: flex;
    flex-direction: row;
    height: 40px;
    position: relative;
    flex: 1;
}

#txt_pesquisar {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    cursor: text;
    padding-left: 16px;
    border: solid 1px #c6c6c6;
    width: 100%;
    font-size: 17px;
}

.btn_pesquisar {
    border: solid 1px #d3d3d3;
    width: 64px;
    height: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    cursor: pointer;
    background-color: #f2f2f2;
    padding: 6px 6px;
}

.btn_pesquisar img {
    width: 95%;
    height: 95%;
    object-fit: contain;
}

.btn_voz {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f2f2f2;
    border-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_voz img {
    width: 70%;
    height: 70%;
    object-fit: contain;
}

.menu_config {
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
    align-items: center;
    gap: 0.5rem;
}

.btn_burgerConfig {
    display: flex;
    flex-direction: row;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    padding: 8px 12px;
    background-color: transparent;
}

.btn_burgerConfig span {
    display: block;
    width: 4px;
    height: 4px;
    background-color: black;
    position: absolute;
    border-radius: 50%;
}

.btn_burgerConfig span:nth-child(1) { top: 20px}
.btn_burgerConfig span:nth-child(2) { top: 27px}
.btn_burgerConfig span:nth-child(3) { top: 34px}

.fazer_login {
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    color: #065fd4;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 147px;
    height: 40px;
    padding: 0 12px;
    transition: background-color 0.5s ease;
}

.fazer_login:hover {
    background-color: #cef1f5;
}

#icon_login {
    height: 24px;
    width: 24px;
    margin-right: 6px;
}

.fazer_login label {
    font-size: 0.85rem;
    white-space: nowrap;
}


/*Responsividade: */

@media (max-width: 700px) {
    .nav_bar {
        padding: 0 8px;
    }

    .menu_burger {
        position: relative;
        gap: 15px;
    }

    .btn_burgerMenu {
        width: 24px;
        height: 40px;
        padding: 0;
        display: block;
        left: 5px;
    }

    .menu_burger a {
        padding: 0;
        width:  6rem;
        padding: 8px 16px 8px 0;
    }

    .menu_burger a img {
        max-width: 100%;
    }

    .area_pesquisar {
        padding: 0;
        flex: none;
    }

    #txt_pesquisar {
        display: none;
    }

    .btn_pesquisar {
        border: none;
        background-color: transparent;
        height: 40px;
        width: 40px;
        padding: 8px 8px;
    }

    .btn_pesquisar img {
        height: 100%;
        width: 100%;
    }

    .menu_config {
        padding: 0;
        gap: 0;
    }
    
    .btn_burgerConfig {
        width: 30px;
        padding: 0;
    }

    .fazer_login {
        width: 6rem;
        padding: 0 6px;
    }

    .fazer_login label {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .btn_voz {
        display: none;
    }

    .area_pesquisar form {
        flex: none;
    }
}